* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
}

:root {
  --text-color: #dddddd;
  --bg-url: url(./assets/bg-desktop.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-cgosolor-hover: rgba(0, 0, 0, 0.05);
  --switch-bg-url: url(./assets/moon-stars.svg);
}

.light {
  --text-color: rgb(0, 0, 0);
  --bg-url: url(./assets/bg-desktop-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.7);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.01);
  --switch-bg-url: url(./assets/sun.svg);
}

body {
  background-image: var(--bg-url);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  font-family: "Inter", sans-serif;
}

#container {
  width: 100%;
  max-width: 588px;

  margin: 56px auto 0px;
  padding: 0 24px;
}

/*profile*/

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
  border-radius: 50%;
  border: 3px solid var(--text-color);
}

#profile p {
  font-weight: 400;
  line-height: 24px;
  margin-top: 8px;
}

/*switch*/

#switch {
  position: relative;
  width: 64px;

  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  background-color: white;
  background-image: var(--switch-bg-url);
  background-repeat: no-repeat;
  background-position: center;

  border-radius: 50%;
  border: 0;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
}

.light #switch button {
  right: 0;
  left: initial;
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);

  border: 1px solid var(--stroke-color);
  --webkit-backdrop-filter: blur(4px);

  border-radius: 9999px;
}

/*links */

ul {
  list-style: none;
  padding-top: 24px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

ul li a {
  background: var(--surface-color);
  --webkit-backdrop-filter: blur(4px);

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 500;

  padding: 16px 24px;

  border-radius: 8px;
  border: 1px solid var(--stroke-color);

  transition: background 0.2s ease-in-out;

  &:hover {
    background: var(--surface-color-hover);
    border: 1.5px solid var(--stroke-color);
  }
}

a {
  text-decoration: none;
}

footer {
  text-align: center;
  margin-top: 88px;
  font-size: 14px;
  padding: 24px 0;
}
